body {
    font-family: 'Fira Sans', 'Helvetica', sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Nothing You Could Do', 'Helvetica', sans-serif;
}

.date-nav {
    margin-top: 20px;
    margin-bottom: 10px;
}

.date-nav a {
    font-size: 2em;
    color: #ddd;
}

.date-nav a:hover {
    color: #337ab7;
    text-decoration: none;
}

.date-current {
    border-bottom: 1px solid #eee;
}
#quote {
    margin: 2em 0;
    text-align: center;
}

#quote cite {
    display: block;
    margin-top: 0.5em;
}

#day-form {
    margin-top: 3em;
}

.form-actions {
    margin-top: 2em;
    margin-bottom: 2em;
    padding-top: 2em;
    border-top: 1px solid #ddd;
}