{% extends 'common/base.html' %}
{% load bootstrap3 %}

{% block content %}
    <div class="row date-head">
        <div class="col-md-3 date-nav date-prev">
            <a href="{% url 'date_view' prev_day %}">
                {% bootstrap_icon 'circle-arrow-left' %}
                prev. day
            </a>
        </div>
        <div class="col-md-6 date-current"><h1>{{ date }}</h1></div>
        <div class="col-md-3 date-nav date-next"></div>
    </div>

    {% if quote %}
        {% include 'quotes/quote.html' %}
    {% endif %}

    <form id="today-form" method="post" class="form" enctype="multipart/form-data">
        {% csrf_token %}

        {% for field_type, fields in field_groups.items %}
            {% include 'frontend/fields/groups/'|add:field_type|add:'.html' %}
        {% endfor %}

        <div class="form-actions">
            <button type="submit" class="btn btn-primary btn-block btn-lg">Save</button>
        </div>
    </form>

{% endblock %}